    *{
        padding: 0;
        margin: 0;
    }
    body{
        /* background: url(look-up-at-the-sky-day-1.webp) center/cover no-repeat; */
        background: url('https://source.unsplash.com/random/?desktop-morning-cloud') center/cover no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .container{
        width:70% ;
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    main{
        display: flex;
        width: 40%;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 5%;
    }
    .d2{
        width: 8.784773060029282vw;
    } 



    main h1{
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 38px;
        width: fit-content  ;
    }
    .temp{
        display: flex;
        font-size: 500%;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .decs{
        display: flex;
        font-size: 125%;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width:  10.248901903367496vw;
    }
    h6{
        background: orange;
        border-radius: 15px;
        color: white;
        min-width: 1.4641288433382138vw;
        height: 2.4vh;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 62.5%;
    } 
    .search{
        background: rgba(24, 24, 24, 0.75);
        backdrop-filter: blur( 16px );
        -webkit-backdrop-filter: blur( 16px );
        width: 30%;
        height: 100vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .searchbar{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    button{
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    input{
        background: none;
        padding: 5px;
        width: 80% ;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
        font-size: 156.25%;
        color: white;
    }
    input::placeholder{
        color: white;
    }
    .fa-magnifying-glass{
        float: right;
        font-size: 30px;
        color: white;
    }
    .recent{
        height: 35%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        color: lightgrey;
        align-items: left;
        font-size:20px;
        margin-left: 5%;
        margin-bottom: 5%;
        gap: 15px;
        font-family: sans-serif;
        cursor: pointer;
    }
    .more{
        height: 35%;
        border-top: 1px solid grey;
        width: 85% ;
        margin-left: 5%;
        padding-top: 10px;
    }
    .more span{
        color:white;
        font-family: sans-serif;
        font-size: 156.25%;
    }
    .details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: lightgrey;
        gap: 15px;
        margin-top: 15px;
        font-size:  125%;
    }

    #cloudy,#humidity,#wind,#pressure,#min,#max{
        text-align: right;
    }
    @media screen and (max-width: 850px) {
        body{
            display: flex;
            flex-direction: column;
        }
        .container{
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        main{
            width: 50%;
        }
        .searchbar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .search{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .recent{
            display: none;
        }
        .more{
            width: 90%;
            gap: 10px;
            border: none;
        }
        h6{
            display: none;
        }
    }   
    @media screen and (max-width: 500px){
        main{
            display: flex;
            flex-direction: column;
        }
        .d2{
            display: flex;
        }
     
    }